node_modules/
.DS_Store

# Next.js build output
.next/
out/

# Environment variables
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel deployment
.vercel

# IDE
.vscode/
.idea/

# OS
Thumbs.db
